stages:
  - build
  - docker_build
  - deploy

variables:
  APP_NAME: smart_feed
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:1
  DOCKER_DRIVER: overlay2

build_job:
  stage: build
  image: gradle:8.14-jdk17-alpine
  script:
    - gradle clean build -x test
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 hour

docker_build_job:
  stage: docker_build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE

deploy_job:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 49.13.222.148 >> ~/.ssh/known_hosts
  script:
    - |
      ssh root@49.13.222.148 << EOF
        echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
        docker pull $DOCKER_IMAGE
        docker stop $APP_NAME || true
        docker rm $APP_NAME || true
        docker run -d \
          --name $APP_NAME \
          -p 8080:8080 \
          --restart always \
          $DOCKER_IMAGE
      EOF