spring:
  application:
    name: SmartFeedRanking

  datasource:
    url: jdbc:postgresql://localhost:5444/feed_rank
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 6333
      database: 0

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false

springdoc:
  swagger-ui:
    path: /docs
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true
